

<p>Un nouveau message a été envoyé depuis le site : </p>



<strong> Nom :<%= @contact.lastname %> </strong>

<br>
<strong>Prénom : <%= @contact.firstname%> </strong>
<br>
<strong> Adresse email : <%= @contact.mail %></strong>
<br>
<strong>Message :</strong>
<br>

<%=@contact.message%>

