.card {

  background-color: #e8ffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 22px;
  box-shadow: 8px 8px #e1efef;
  padding: 16px 16px;
}


#col-left {
  float: left;
}

h2 {
  font-weight: bold;
  color: #0a043c;
}

.hidden {
   position: absolute !important;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   overflow: hidden;
   width: 1px;
}

.software {
  display: flex;
  justify-content: space-evenly;
}

.row {
  width: 104%;
}
